@import './variables.scss';

#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background-color: $primary-color;
  color: #e8fdff;
  padding: 0px 2em;
  display: flex;
  align-content: space-between;

  #logoword {
    display: flex;
    flex: 7;
  }
  
  .logo {
    // float: left
  }

  .header {
    // float: left;
    line-height: 80px;
    font-size: 200%
  }

}



#compose {
  margin: 5px;
  height: 70px;
  width: 124px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex: 1;
  background-color: #E7FDFF;
  color: $primary-color;
  font-size: large;

  img {
    margin: 20px 8px;
  }

  p {
    margin: 24px 8px;
    float: right;
  }
}

#compose:hover {
  background-color: white;
  color: black;
}