.tweet header {
  height: 92px;

}
.tweet .avatar {
  height: 65px;
  width: 65px;
  margin: 12px;
  border-radius: 5px;
  float: left;
}

.tweet .username {
  margin: 12px 0;
  line-height: 65px;
  display: inline-block;
}

.tweet .handle {
  float: right;
  line-height: 65px;
  margin: 12px;
}

.tweet .content {
  background-color: white;
  border-bottom: 1px solid lightgrey;
  padding: 12px;
}
.tweet footer {
  padding: 12px;
  background-color: white;
  font-size: small;
}

.tweet footer img {
  height: 15px;
  width: 20px;
  visibility: hidden;
  float: right;
  margin: 0 4px;
}

.tweet:hover footer img {
  visibility: visible;
}

.tweet img.liked {
  visibility: visible;
}

.tweet button {
  height: 15px;
  width: 20px;
  visibility: hidden;
  float: right;
  margin: 0 4px;
  border: none;
}