.tweet {
  header {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    
    .avatar {
      margin: 12px;
      border-radius: 5px;
      display: flex;
      flex: 1;
    }
  
    .username {
      margin: 12px 0;
      align-self: center;
      display: flex;
      flex: 4;
    }
  
    .handle {
      display: flex;
      flex: 1;
      align-self: center;
      margin: 12px;
    }
  }

  .content {
    background-color: white;
    border-bottom: 1px solid lightgrey;
    padding: 12px;
  }
  
  footer {
    background-color: white;
    font-size: small;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-between;
  
    p {
      display: inline-flex;
      flex: 10;
      margin-left: 12px; 
    }
    span {
      display: flex;
      flex-flow: row wrap;
      flex: 3;
      align-content: center;
      justify-content: space-between;
      
      button {
        display: inline-flex;
        border: none;
        margin-right: 12px;
        background-color: #FFF
      }

      img {
        height: 20px;
        width: 20px;
        visibility: hidden;
        display: inline-flex;
        align-self: center;
        
      }
    }
  }
}

img.like.liked {
  visibility: visible;
}




.tweet:hover footer img {
  visibility: visible;
}

