#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0px 2em;
  z-index: 9999999;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left
}

#nav-bar .header {
  float: left;
  line-height: 80px;
  font-size: 200%
}

#compose {
  margin: 5px;
  height: 70px;
  width: 124px;
  float: right;
}

#nav-bar .button {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #E7FDFF;
  color: #00a087;
  font-size: large;
}

#compose img {
  margin: 20px 8px;
}

#compose p {
  margin: 24px 8px;
  float: right;
}

#nav-bar .button:hover {
  background-color: white;
  color: black;
}

#menu-button {
  float: right;
  margin: 5px 0;
  height: 70px;
  width: 70px;
}

div.hamburger {
  width: 50px;
  height: 8px;
  background-color: #00a087;
  margin: 11px 9px;
}