section#new-tweet {
  margin: 2em auto 2em;
  border: 1px solid lightgrey;
  background-color: #eee;
  border-radius: 5px;
}

section h2 {
  line-height: 20px;
  padding: 12px;
  border-bottom: 1px solid lightgrey;
}

section textarea {
  display: block;
  margin: 12px;
  padding: 8px;
  width: 93%;
  height: 6rem;
}

section input {
  margin: 0 12px 12px;
  border-radius: 3px;
  border-style: solid;
  height: 35px;
  width: 60px;
}

span#counter {
  float: right;
  margin: 8px 15px;
  font-style: italic;
}