section h2 {
  line-height: 20px;
  padding: 0 12px;
  border-bottom: 1px solid lightgrey;
}

section textarea {
  display: block;
  margin: 12px;
  padding: 8px;
  width: 93%;
  height: 6rem;
}

section input {
  margin: 0 12px 12px;
  border-radius: 3px;
  border-style: solid;
  height: 35px;
  width: 60px;
  display: inline;
}

span#counter {
  float: right;
  margin: 8px 15px;
  font-style: italic;
}

.warning {
  color: #FA8704;
  font-weight: bold;
}

.error {
  color: red;
  font-weight: bold;
}

.verify {
  display: inline;
}